<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender: logs to standard output (which Tomcat captures) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Optionally, you can add a File appender as well -->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/home/oleh/logs/logfile.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Set the logging level for your application -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
         <appender-ref ref="FILE" />
    </root>
</configuration>
